/* Descandant Combinator*/
div p{
  color: red;
}

/* Child Combinator */
div>p {
  color: blue;
}

/* Adjacent Siblings Combinator */
div+p{
  color: orange;
}

/* General Siblings Combinators */
div~p{
  color: green;
}